.desert-card_image {
  width: 27.4em;
  height: 24em;
  border-radius: 10px;
}

.desert-card_add-to-image {
  justify-content: center;
  width: 40%;
  margin: 0 auto;
  display: flex;
  padding: 1em 0.5em;
  border: 1px solid $primary-1;
  border-radius: 120px;
  position: relative;
  top: -22px;
  background-color: $white-secondary;
  font-family: "RedHatText-SemiBold";
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.1s linear;

  & span {
    line-height: 2em;
  }
}

.desert-card_add-to-image:hover {
  transform: scale(1.1);
  color: $primary-1;
}

.desert-card_description {
  &_list_item {
    margin: 0.5em 0;
  }
}

.desert-card_counter-container {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin: 0 auto;
  padding: 0.8em 0.5em;
  border: 1px solid #9b4a35;
  border-radius: 120px;
  position: relative;
  top: -23px;
  background-color: $primary-1;
  font-family: "RedHatText-SemiBold";

  & .counter {
    // line-height: 2.6em;
    color: $white-primary;
    font-size: 1.8em;
  }
  & .decrease {
    width: 26px;
    height: 26px;
    fill: none;
    align-self: center;
    cursor: pointer;
    & path {
      fill: $white-primary;
    }
    & circle {
      stroke: $white-primary;
    }
    &:hover circle {
      fill: $white-primary;
    }
    &:hover path {
      fill: $primary-1;
    }
  }
  & .increase {
    width: 26px;
    height: 26px;
    fill: none;
    align-self: center;
    cursor: pointer;
    & path {
      fill: $white-primary;
    }
    & circle {
      stroke: $white-primary;
    }
    &:hover circle {
      fill: $white-primary;
    }
    &:hover path {
      fill: $primary-1;
    }
  }
}

.item-title {
  color: $primary-2;
}
.description {
  color: $primary-3;
  font-family: "RedHatText-SemiBold";
}
.price {
  color: $primary-1;
}

.hidden {
  display: none;
}

.border {
  border: 2px solid $primary-1;
}

.amount-info {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  column-gap: 0.5em;
}

.carbon-neutral {
  display: flex;
  justify-content: center;
  font-size: 14px;
  padding: 1em 2em;
  background-color: $white-primary;
  border-radius: 6px;
}

.carbon-neutral span {
  align-self: center;
}

@media screen and (max-width: 800px) {
  // .desert-card_image {
  //   width: unset;
  //   height: 20em;
  // }
  .desert-card_add-to-image {
    width: unset;
    padding: 1em 1.5em;
  }
}
