@font-face {
  font-family: "RedHatText-Regular";
  src: url("../fonts/static/RedHatText-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "RedHatText-Bold";
  src: url("../fonts/static/RedHatText-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "RedHatText-SemiBold";
  src: url("../fonts/static/RedHatText-SemiBold.ttf") format("truetype");
}
