.modal_mobile {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  position: fixed;
  height: 100vh;
  left: 4em;
  top: 0;
  width: 100vw;
  overflow-y: hidden;
  transform: translateX(-10%);
  transition: transform 0.5s ease-in-out;
}
.modal_mobile_hidden {
  transform: translateX(100%);
}
.content_mobile {
  // height: 30em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(120%);
  transition: transform 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translate(-50%, -70%);
  width: 75vw;
}

.container-items {
  max-height: 20em;
  overflow-y: scroll;
  border-bottom: 1px solid black;
}
#icon {
  width: 40px;
}
.icon_cart,
.icon_closed {
  width: 40px;
  height: 40px;
  transition: all 0.5s ease-in;
  visibility: visible;
  opacity: 1;
  transform: translateX(-6%);
}

.icon_hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none; /* Optional: zamedzí interakciám s elementom, keď je skrytý */
}

.alertMessage {
  position: absolute;
  width: 25vw;
  opacity: 1;
  top: -1em;
  padding: 0.4em 0.8em;
  border: 1px solid green;
  background-color: white;
  color: green;
  border-radius: 8px;
  text-align: center;
  right: 0;
}

.alertMessage_show {
  animation: showM 1s linear;
}

@keyframes showM {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 1.5em 1em;
}
.item_desktop {
  display: flex;
  padding: 1.5em 1em;
  & img {
    width: 6em;
  }
  & .item_separator {
    display: flex;
    justify-content: space-between;
    font-size: 1.4em;
    width: 100%;
    margin: 0 1em;

    & .separator2 {
      display: flex;
      justify-content: center;
      flex-direction: column;
      font-size: 14px;
    }

    & .title {
      font-size: 16px;
      font-family: "RedHatText-SemiBold";
      color: $primary-3;
    }
    & .price-total {
      font-size: 1.2em;
      align-self: center;
      color: $primary-2;
    }
  }
}

.item:nth-child(odd) {
  background-color: #f0808069;
  backdrop-filter: blur(5px);
  border-radius: 12px;
}

.item-parameters {
  align-self: center;
  display: flex;
  justify-content: space-between;
  gap: 0.5em;

  & span {
    font-size: 1.4em;
  }
}
.item-style {
  font-size: 1.6em;
  align-self: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.mobile {
  margin-bottom: 1em;
}
