@charset "UTF-8";
/*brown*/
/*gray*/
/*dark brown*/
@font-face {
  font-family: "RedHatText-Regular";
  src: url("../fonts/static/RedHatText-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "RedHatText-Bold";
  src: url("../fonts/static/RedHatText-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "RedHatText-SemiBold";
  src: url("../fonts/static/RedHatText-SemiBold.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "RedHatText-Regular";
  padding: 0;
  margin: 0;
  font-size: 62.5%;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

* {
  box-sizing: border-box;
}

p {
  font-size: 1.6em;
}

h1 {
  font-size: 3.4em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2.4em;
}

h4 {
  font-size: 1.8em;
}

ul {
  list-style: none;
}

.container {
  padding: 8em 9em;
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #fcf8f5;
  column-gap: 5em;
}

.deserts {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  grid-template-rows: min-content repeat(3, 1fr);
  gap: 30px;
}
.deserts .title {
  grid-column: 1/span 3;
  color: #87635a;
  font-family: "RedHatText-SemiBold";
}
.deserts .desert-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, min-content);
  margin: 0 auto;
  margin-bottom: 20px;
}

.overflow-hidden {
  overflow-y: hidden;
}

@media screen and (max-width: 800px) {
  h4 {
    font-size: 1.6em;
  }
  p {
    font-size: 1.3em;
  }
  .container {
    grid-template-columns: 1fr 1fr;
    padding: 8em 3em;
  }
  .deserts {
    grid-template-columns: repeat(2, min-content);
    grid-template-rows: min-content repeat(4, 1fr);
  }
  .deserts .title {
    grid-column: 1/span 2;
  }
  .desert-card_add-to-image {
    width: unset;
  }
}
@media screen and (max-width: 428px) {
  .container {
    grid-template-columns: 1fr min-content;
    padding: 4em 0;
    column-gap: 0;
  }
  .deserts {
    grid-template-columns: repeat(1, min-content);
    grid-template-rows: min-content repeat(9, 1fr);
    margin-left: 4em;
    gap: 15px;
  }
  .deserts .title {
    grid-column: 1/-1;
  }
  .deserts .desert-card {
    margin-bottom: unset;
  }
  .deserts .desert-card_image {
    width: 27em;
    height: unset;
  }
}
@media screen and (max-width: 410px) {
  .deserts .desert-card_image {
    width: 23em;
    height: unset;
  }
}
.desert-card_image {
  width: 27.4em;
  height: 24em;
  border-radius: 10px;
}

.desert-card_add-to-image {
  justify-content: center;
  width: 40%;
  margin: 0 auto;
  display: flex;
  padding: 1em 0.5em;
  border: 1px solid #c73a0f;
  border-radius: 120px;
  position: relative;
  top: -22px;
  background-color: #ffffff;
  font-family: "RedHatText-SemiBold";
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.1s linear;
}
.desert-card_add-to-image span {
  line-height: 2em;
}

.desert-card_add-to-image:hover {
  transform: scale(1.1);
  color: #c73a0f;
}

.desert-card_description_list_item {
  margin: 0.5em 0;
}

.desert-card_counter-container {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin: 0 auto;
  padding: 0.8em 0.5em;
  border: 1px solid #9b4a35;
  border-radius: 120px;
  position: relative;
  top: -23px;
  background-color: #c73a0f;
  font-family: "RedHatText-SemiBold";
}
.desert-card_counter-container .counter {
  color: #fcf8f5;
  font-size: 1.8em;
}
.desert-card_counter-container .decrease {
  width: 26px;
  height: 26px;
  fill: none;
  align-self: center;
  cursor: pointer;
}
.desert-card_counter-container .decrease path {
  fill: #fcf8f5;
}
.desert-card_counter-container .decrease circle {
  stroke: #fcf8f5;
}
.desert-card_counter-container .decrease:hover circle {
  fill: #fcf8f5;
}
.desert-card_counter-container .decrease:hover path {
  fill: #c73a0f;
}
.desert-card_counter-container .increase {
  width: 26px;
  height: 26px;
  fill: none;
  align-self: center;
  cursor: pointer;
}
.desert-card_counter-container .increase path {
  fill: #fcf8f5;
}
.desert-card_counter-container .increase circle {
  stroke: #fcf8f5;
}
.desert-card_counter-container .increase:hover circle {
  fill: #fcf8f5;
}
.desert-card_counter-container .increase:hover path {
  fill: #c73a0f;
}

.item-title {
  color: #958882;
}

.description {
  color: #87635a;
  font-family: "RedHatText-SemiBold";
}

.price {
  color: #c73a0f;
}

.hidden {
  display: none;
}

.border {
  border: 2px solid #c73a0f;
}

.amount-info {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  column-gap: 0.5em;
}

.carbon-neutral {
  display: flex;
  justify-content: center;
  font-size: 14px;
  padding: 1em 2em;
  background-color: #fcf8f5;
  border-radius: 6px;
}

.carbon-neutral span {
  align-self: center;
}

@media screen and (max-width: 800px) {
  .desert-card_add-to-image {
    width: unset;
    padding: 1em 1.5em;
  }
}
.check-out {
  background-color: #fff;
  padding: 2.5em 1em;
  border-radius: 10px;
  align-self: start;
}
.check-out_title {
  color: #c73a0f;
}
.check-out_icon {
  margin: 0 auto;
}
.check-out_text {
  color: #958882;
  margin: 0 auto;
}
.check-out_item {
  display: flex;
  padding: 0.5em 1em;
  justify-content: space-between;
}
.check-out_item .removeItem {
  display: flex;
  padding: 0.25em;
  background-color: unset;
  align-self: center;
  border: 1.5px solid #caafa7;
  border-radius: 123px;
  cursor: pointer;
}
.check-out_item_separator {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.check-out_item_separator .amount-info {
  font-size: 1.4em;
}
.check-out_item_separator button {
  width: 16px;
  text-align: center;
  height: 16px;
  line-height: 13px;
  border-radius: 123px;
  border: 1px solid #c73a0f;
  align-self: center;
  cursor: pointer;
  background-color: unset;
}
.check-out_item_separator button path {
  fill: #c73a0f;
}
.check-out_item_separator button:hover {
  background-color: unset;
}
.check-out .order-total {
  display: flex;
  justify-content: space-between;
  padding: 1em 0.5em 0em 0.5em;
}
.check-out .order-total_title {
  align-self: center;
}
.check-out .order-total_amount {
  font-size: 2.6em;
}

.order-total_mobile {
  display: flex;
  justify-content: space-between;
  font-size: 1.6em;
  position: relative;
  top: 1em;
  padding-top: 1em;
}

.confirm {
  background-color: #c73a0f;
  color: #fcf8f5;
  border: none;
  border-radius: 123px;
  cursor: pointer;
  font-size: 16px;
  padding: 1em;
  width: 100%;
}

.confirm_mobile {
  margin-top: 1em;
  position: relative;
  top: 2em;
}

.icon {
  width: 60px;
  height: 60px;
  padding: 0;
  position: sticky;
  right: 1em;
  top: 2em;
  background-color: unset;
  cursor: pointer;
  display: flex;
  justify-content: center;
  z-index: 2;
}
.icon_cart {
  width: 45px;
  margin: 0 auto;
  cursor: pointer;
  transform: translate(7px);
}

.desktop {
  flex-direction: column;
  display: inline-flex;
  justify-content: center;
  gap: 2em;
}

.total-products {
  position: absolute;
  top: -30px;
  right: 15px;
  font-size: 14px;
  width: 1.7em;
  height: 1.7em;
  background-color: gray;
  display: flex;
  justify-content: center;
  line-height: 23px;
  border-radius: 123px;
  font-weight: 600;
  transform: translate(10px, 20px);
  z-index: 2;
  opacity: 1;
}

.tpanimation {
  animation: tpAnimation 2s linear;
}

@keyframes tpAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.modal {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.confirmation {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 2em;
  border-radius: 6px;
}
.confirmation svg {
  margin-bottom: 2em;
}
.confirmation_text {
  color: #958882;
  margin-left: 4px;
}
.confirmation_items {
  margin: 4em 0;
  background-color: #fcf8f5;
}
.confirmation_items .list {
  border-radius: 12px;
  max-height: 26em;
  overflow-y: scroll;
}
.confirmation_items .item {
  display: grid;
  background-color: #fcf8f5;
  grid-template-columns: min-content 1fr;
  width: 90%;
  margin: 0 auto;
  padding: 2em 0;
  gap: 2em;
}
.confirmation_items .item:not(.item:last-child) {
  border-bottom: 1px solid lightgrey;
}
.confirmation_items .item img {
  width: 45px;
  height: 45px;
  align-self: center;
}

.extension {
  width: 90%;
  margin: 0 auto;
  padding: 2em 0;
  display: grid;
  grid-template-columns: 1fr auto;
}
.extension span {
  align-self: center;
  font-size: 1.8em;
}

.modal_mobile {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  position: fixed;
  height: 100vh;
  left: 4em;
  top: 0;
  width: 100vw;
  overflow-y: hidden;
  transform: translateX(-10%);
  transition: transform 0.5s ease-in-out;
}

.modal_mobile_hidden {
  transform: translateX(100%);
}

.content_mobile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(120%);
  transition: transform 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translate(-50%, -70%);
  width: 75vw;
}

.container-items {
  max-height: 20em;
  overflow-y: scroll;
  border-bottom: 1px solid black;
}

#icon {
  width: 40px;
}

.icon_cart,
.icon_closed {
  width: 40px;
  height: 40px;
  transition: all 0.5s ease-in;
  visibility: visible;
  opacity: 1;
  transform: translateX(-6%);
}

.icon_hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none; /* Optional: zamedzí interakciám s elementom, keď je skrytý */
}

.alertMessage {
  position: absolute;
  width: 25vw;
  opacity: 1;
  top: -1em;
  padding: 0.4em 0.8em;
  border: 1px solid green;
  background-color: white;
  color: green;
  border-radius: 8px;
  text-align: center;
  right: 0;
}

.alertMessage_show {
  animation: showM 1s linear;
}

@keyframes showM {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.item {
  display: flex;
  justify-content: space-between;
  padding: 1.5em 1em;
}

.item_desktop {
  display: flex;
  padding: 1.5em 1em;
}
.item_desktop img {
  width: 6em;
}
.item_desktop .item_separator {
  display: flex;
  justify-content: space-between;
  font-size: 1.4em;
  width: 100%;
  margin: 0 1em;
}
.item_desktop .item_separator .separator2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 14px;
}
.item_desktop .item_separator .title {
  font-size: 16px;
  font-family: "RedHatText-SemiBold";
  color: #87635a;
}
.item_desktop .item_separator .price-total {
  font-size: 1.2em;
  align-self: center;
  color: #958882;
}

.item:nth-child(odd) {
  background-color: rgba(240, 128, 128, 0.4117647059);
  backdrop-filter: blur(5px);
  border-radius: 12px;
}

.item-parameters {
  align-self: center;
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
}
.item-parameters span {
  font-size: 1.4em;
}

.item-style {
  font-size: 1.6em;
  align-self: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.mobile {
  margin-bottom: 1em;
}

/*# sourceMappingURL=main.css.map */
